<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>BeeSINT Threat Report - {{ report.period_end }}</title>
<link rel="stylesheet" href="../styles/report.css">
</head>
<body>
  {% include "partials/_cover.html.j2" %}
  {% include "partials/_summary.html.j2" %}
  {% include "partials/_cve_critical.html.j2" %}
  {% include "partials/_kev.html.j2" %}
  {% include "partials/_mttk.html.j2" %}
  {% include "partials/_c2_infra.html.j2" %}
  {% include "partials/_malicious_urls.html.j2" %}
  {% include "partials/_top_countries.html.j2" %}
  {% include "partials/_top_vendors.html.j2" %}
  {% include "partials/_cwe_breakdown.html.j2" %}
  {% include "partials/_lineage.html.j2" %}
</body>
</html>
